body {
  display: grid;
  grid-template-areas:
  "A B"
  "C D"
  "E E";
}

header{
 grid-area: A;
 justify-content: flex-start;
}

nav{
grid-area: B;
justify-content: flex-end;
}

nav ul{
  float:left;
}

section .sidbar{
  grid-area: C;
}

section .contents{
  grid-area: D;
}

footer{
  grid-area: E;
}
